@model List<NestShopApplication.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<div class="card w-full mb-3 rounded">
    <h1 class="card-header">Products</h1>
    <div class="card-body">
        <a asp-controller="Product" asp-action="Upsert" class="btn btn-primary">
            <i class="bi bi-plus-circle"></i> New
        </a>
        <table id="tblData" class="table table-hover" width="100%">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>@product.Category.Name</td>
                        <td>
                            <div>
                                <a asp-controller="Product" asp-action="Upsert" asp-route-id="@product.Id" class="btn btn-info">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                @if (User.IsInRole(StaticDetails.Role_Admin))
                                {
                                    <a asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                }    
                               
                            </div>

                        </td>

                    </tr>
                }
                
            </tbody>
        </table>
    </div>
</div>
@section Scripts {
    <script src="~/js/product.js"></script>
}