@model Category

<div class="card w-full mb-3 rounded">
    <h1 class="card-header">Details</h1>

    <div class="card-body">
        <div>
            <form method="post">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label"></label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="DisplayOrder" class="form-label"></label>
                    <input asp-for="DisplayOrder" class="form-control">
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>

                </div>

                <div class="row">
                    @if (User.IsInRole(StaticDetails.Role_Admin))
                    {
                        <div class="col-6 col-md-3">
                            <button type="submit" class="btn btn-primary">Update</button>

                        </div>
                    }
                    
                    <div class="col-6 col-md-3">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary">Back To Category</a>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}