@model Banner

<div class="card w-full mb-3 rounded">
    <div class="card-body">
        <h1 class="card-title mb-3">Add Banner</h1>
        <div>
            <form method="post" enctype="multipart/form-data">
                <input asp-for="Id" hidden />
                <input asp-for="ImageUrl" hidden />
                <div class="row">
                    <div class="col-10">
                        <div class="mb-3">
                            <label asp-for="Name" class="form-label"></label>
                            <input asp-for="Name" class="form-control">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="Description" class="form-label"></label>
                            <input asp-for="Description" class="form-control">
                            <span asp-validation-for="Description" class="text-danger"></span>

                        </div>

                        <div class="mb-3">
                            <label asp-for="ImageUrl" class="form-label"></label>
                            <input type="file" name="file" class="form-control">
                        </div>

                        <div class="row">
                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn btn-primary">Create</button>

                            </div>
                            
                        </div>
                    </div>
                    
                </div>

            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}